{% extends "base.html" %}

{% block title %}
    <title>PictuREST - Успіх!</title>
{% endblock %}
{% block navigation %}
                    <form class="d-flex">
                        <div class="mt-4">
                            <a class="btn btn-primary" href="/authorized">Повернутися на головну сторінку</a>
                        </div>
                    </form>
{% endblock %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="success-page text-center"> <!-- Внутрішній блок для сторінки успіху -->
            <h2>{{ item_name }} успішно створено!</h2>
            <div>{{ item }}</div>
        </div>
    </header>
{% endblock %}